<h2>Responses</h2>

<ul>
  <% @survey.questions.each do |question| %>
    <li>
      <%= question.style.body %>
      <ul>
        <% question.responses.each do |r| %>
          <li>
            <%= r.answer.body %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
